{% extends 'layout/basic.html' %}
{% block content %}
    {% regroup bbs by rubric.name as grouped_bbs %}



    {% for rubric_name, gbbs in grouped_bbs %}

        <h3>{{ rubric_name }}</h3>


        {% for bb in gbbs %}
            {#    {% for bb in bbs %}#}




            {% with bb_count=bbs.count %}
                {% if bb_count > 0 %}
                    <p>Всего {{ bb_count }} объявлений.</p>
                {% endif %}
            {% endwith %}


            <div>
                <h2><a href="{% url 'detail' pk=bb.pk %}"> {{ bb.title }}</a></h2>
                {% autoescape off %}
                    {% spaceless %}
                        {#    удаляет в содержимом пробельные символы#}
                        <p>{{ bb.content }}</p>
                    {% endspaceless %}
                {% endautoescape %}
            <p>{{ bb.price|default:'<b>У товара нет цены</b>' }}</p>
                <p><a href="{% url 'by_rubric' bb.rubric.pk %}">{{ bb.rubric.name }}</a></p>
                {#        <p><a href="/bboard/{{ bb.rubric.pk }}/">{{ bb.rubric.name }}</a> </p>#}
                <p>{{ bb.published|date:"d.n.Y H:i:s" }}</p>
                <p>{{ bb.published|time }}</p>
            </div>
        {% endfor %}
        {% for d in date_list %}
            {{ d.year }}
        {% endfor %}
    {% endfor %}


{#    Пагинация на главной#}
    <div>
    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}">&lt;</a>
{#        &nbsp; &nbsp; | &nbsp; &nbsp;#}
    {% endif %}
    Часть №{{ page.number }} из {{ page.paginator.num_pages }}

    {% if page.has_next %}
{#        &nbsp; &nbsp; | &nbsp; &nbsp;#}
    <a href="?page={{ page.next_page_number }}">&gt;</a>
    {% endif %}
    </div>

{% endblock %}

{#{% verbatim %} аналог литерал#}